allow system_server mpctl_data_file:dir search;
allow system_server persist_file:dir rw_dir_perms;

# Allow system server access to gx_fpd daemon
binder_call(system_server, gx_fpd);
allow system_server gx_fpd_service:service_manager find;
